/*About*/
.about {
  width: 100%;
  margin-top: 99px;
  padding-top: 104px;
  background: #E4FBFF;
  position: relative;
  overflow: hidden;

  @include responsive(1080px) {
    margin-top: 50px;
    padding-top: 56px;
    height: auto;
  }

  @include responsive(648px) {
    margin-top: 50px;
    padding-top: 56px;
    height: 1068px;
  }

  // Image
  &__image{
    height: 508px;
    position: absolute;
    left: 42%;
    bottom: 5px;

    @include responsive(1080px) {
      height: 310px;
      left: 60%;
    }

    @include responsive(648px) {
      height: 232px;
      right: auto;
      left: 16px;
      bottom: 0;
    }
  }

  &__image-title {
    width: 484px;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.8px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    position: absolute;
    left: 46%;
    top: 468px;

    @include responsive(1080px) {
      width: 200px;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: -0.25px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #000000;
      left: 60%;
      top: 224px;
    }

    @include responsive(648px) {

      width: 100%;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: -0.25px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #000000;
      left: 16px;
      top: 746px;
    }
  }

  &__image-text {
    width: 400px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    position: absolute;
    left: 46%;
    top: 623px;

    @include responsive(1080px) {
      width: 178px;
      font-size: 14px;
      line-height: 20px;
      left: 62%;
      top: 375px;
    }

    @include responsive(648px) {
      width: 178px;
      font-size: 14px;
      line-height: 20px;
      left: 38px;
      top: 863px;
    }

    p:last-child {
      margin-top: 12px;
      width: 340px;

      @include responsive(1080px) {
        margin-top: 17px;
        width: 178px;
      }

      @include responsive(648px) {
        margin-top: 17px;
        width: 178px;
      }
    }
  }

  // Title
  &__title {
    letter-spacing: -1.1px;

    @include responsive(1080px) {
      width: 500px;
    }

    @include responsive(648px) {
      width: 100%;
    }

    &-blue {
      color: #00AEFA;
    }
  }

  // Info
  &__info {
    width: 360px;
    height: 512px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include responsive(1080px) {
      width: 343px;
      height: 384px;
      margin-top: 42px;
    }

    @include responsive(648px) {
      width: 343px;
      height: 384px;
      margin: 0 auto;
      margin-top: 42px;
    }

    //  Item
    &-item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      // Img
      &-img {
        margin-right: 16px;

        @include responsive(1080px) {
          width: 52px;
          margin-right: 12px;
        }

        @include responsive(648px) {
          width: 52px;
          margin-right: 12px;
        }
      }

      // Text
      &-text {
        width: 280px;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.1px;
        font-feature-settings: 'pnum' on, 'lnum' on;

        @include responsive(1080px) {
          font-size: 20px;
          line-height: 26px;
          letter-spacing: -0.05px;
        }

        @include responsive(648px) {
          font-size: 20px;
          line-height: 26px;
          letter-spacing: -0.05px;
        }
      }
    }

    // Button
    &-btn {
      display: inline-block;
      padding: 13px 87px;
      background: #00AEFA;
      border-radius: 10px;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      letter-spacing: -0.1px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #FFFFFF;

      @include responsive(1080px) {
        padding: 15px 102px;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.05px;
      }

      @include responsive(648px) {
        padding: 15px 102px;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.05px;
      }
    }
  }
}