/*benefits*/
.benefits {
  padding-top: 200px;
  position: relative;

  &__vector {
    position: absolute;
  }

  .vector-3 {
    top: 469px;
    left: 0;
  }
  .vector-4 {
    top: 523px;
    left: 281px;
    z-index: 500;
  }
  .vector-5 {
    left: 0;
    bottom: 42px;
    z-index: 500;
  }

  // Title
  &__title {
    width: 100%;
    max-width: 1060px;
  }

  // List
  &__list {
    width: 100%;
    max-width: 1180px;
    padding-top: 52px;
    padding-bottom: 254px;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    position: relative;

    @include responsive(mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  // List title
  &__list-title {
    font-size: 56px;
    line-height: 110%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;

    @include responsive(mobile) {
      width: 244px;
      margin-top: 32px;
      margin-left: 24px;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: -0.25px;

    }
  }

  // List text
  &__list-text {
    margin-top: 24px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;

    @include responsive(mobile) {
      margin-top: 16px;
      margin-left: 24px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  // benefits card-1
  #benefits-card-1 {
    width: 800px;
    height: 510px;
    margin-left: -80px;
    background-image: url("../images/benefit-img-1.png");

    @include responsive(mobile) {
      width: 300px;
      height: 364px;
      margin-left: 0;
      background-image: url("../images/benefit-img-1_m.png");
    }

    // Title
    .benefits__list-title {
      width: 389px;
      margin-top: 72px;
      margin-left: 160px;

      @include responsive(mobile) {
        width: 244px;
        margin-top: 32px;
        margin-left: 24px;
      }
    }

    // Text
    .benefits__list-text {
      margin-left: 160px;
      width: 262px;

      @include responsive(mobile) {
        width: 244px;
        margin-top: 32px;
        margin-left: 24px;
      }
    }
  }

  // card 2
  #benefits-card-2 {
    width: 401px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -51px;

    .benefits-sticker-text {
      width: 260px;
      margin-top: 14px;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.1px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #04121B
    }
  }

  // card 3
  #benefits-card-3 {
    margin-top: 57px;
    width: 800px;
    height: 471px;
    margin-left: -80px;
    background-image: url("../images/benefit-img-3-bg.png");
    position: relative;
    z-index: 999;

    .benefits__list-title {
      width: 400px;
      margin-top: 64px;
      margin-left: 360px;
      font-size: 48px;
      line-height: 110%;
    }

    .benefits__list-text {
      width: 339px;
      margin-top: 24px;
      margin-left: 360px;
    }

    img {
      position: absolute;
      bottom: 0;
      left: 47px;
    }
  }

  // card 4
  #benefits-card-4 {
    width: 400px;
    height: 748px;
    margin-top: -407px;
    margin-right: -58px;
    border-radius: 48px;
    background-image: url("../images/benefit-img-4-bg.png");
    position: relative;
    overflow: hidden;

    .benefits__list-title {
      margin-top: 40px;
      margin-left: 40px;
    }

    .benefits__list-text {
      width: 320px;
      margin-top: 24px;
      margin-left: 40px;
    }

    img {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  // Card 5
  #benefits-card-5 {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    bottom: 6px;
    right: 0;

    .mess {
      position: relative;

      .text {

        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.1px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        position: absolute;
        top: 50%;
        left: 50%;
      }

      &:first-child {
        margin-left: 110px;
        margin-bottom: -12px;

        .text {
          width: 228px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          transform: translate(-50%, -80%);
        }
      }

      &:nth-child(2) {


        .text {
          width: 255px;
          transform: translate(-66%, -68%);
        }

        .text-emoji {
          margin: -15px 0;
        }
      }
    }

    .change-course {
      margin-top: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 210px;
      height: 60px;
      background: #00AEFA;
      border-radius: 10px;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      letter-spacing: -0.1px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #FFFFFF;
    }
  }

}