.cards-slider {
  width: 828px;
  margin: 0 auto;
  position: relative;

  @include responsive(mobile) {
    width: 100%;
  }

  &__slide {
    .course-card {
      margin: 0 auto;

      @include responsive(mobile) {
        margin: 0;
      }
    }
  }
}

.control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  cursor: pointer;

  &-prew {
    left: -24px;
  }

  &-next {
    right: -24px;
  }
}

.slick-disabled path {
  fill: rgba(#000, 0.24);
}

.slick-slide {

  @include responsive(mobile) {
    width: 276px!important;
  }
}