.cards-slider {
  width: 828px;
  margin: 0 auto;
  position: relative;
  @include responsive(desktop) {
    margin-top: -16px;
    margin-bottom: -16px;
  }

  @include responsive(mobile) {
    width: 1724px;
    margin-left: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__slide {

    @include responsive(mobile) {
      margin-right: 24px;
    }
    .course-card {
      margin: 0 auto;

      @include responsive(mobile) {
        margin: 0;
      }
    }
  }
}

.control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  cursor: pointer;

  &-prew {
    left: -24px;
  }

  &-next {
    right: -24px;
  }
}

.slick-disabled path {
  fill: rgba(#000, 0.24);
}

.slick-slide {

  @include responsive(desktop) {
    padding: 16px 0;
  }

  @include responsive(mobile) {
    width: 276px!important;
  }
}
