/*Popular*/
.popular {
  width: 100%;
  margin-top: 96px;

  @include responsive(648px) {
    margin-top: 48px;
  }

  .course-card {
    @include responsive(648px) {
      width: 334px;
      height: 440px;
      margin-top: 16px;
      border-radius: 12px;
    }

    &__course-name {
      @include responsive(648px) {
        margin-top: 11px;
      }
    }

    //&__course-info {
    //  @include responsive(648px) {
    //    position: absolute;
    //    bottom: 92px;
    //    left: 11px;
    //  }
    //}
  }

//  Cards
  &__cards {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    margin-top: 49px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include responsive(1090px) {
      justify-content: center;
    }

    .course-card {
      @include responsive(1090px) {
        margin: 0 8px;

        &:last-child {
          margin-top: 16px;
        }
      }

      @include responsive(834px) {
        &:nth-child(2) {
          margin-top: 16px;
        }
      }

      @include responsive(648px) {
        margin-top: 16px;
      }
    }

    @include responsive(648px) {
      margin-top: 25px;
      flex-direction: column;
      align-items: center;
    }

    // Card title
    &-title {
      width: 500px;
      margin-top: 16px;
      font-size: 40px;
      line-height: 44px;
      letter-spacing: -0.6px;
      font-feature-settings: 'pnum' on, 'lnum' on;

      @include responsive(648px) {
        width: 307px;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: -0.25px;
        font-feature-settings: 'pnum' on, 'lnum' on;
      }

      // White text
      &_white {
        display: block;
        color: rgba(255, 255, 255, 0.8)
      }
    }

    //  Green card
    &-card_green {
      width: 559px;
      height: 408px;
      padding: 16px;
      background: #7AC100;
      border-radius: 12px;
      position: relative;

      @include responsive(648px) {
        width: 343px;
        height: 438px;
        background: #BCEC30;
      }
    }

    // Green card filter
    &-filter-block {
      width: 387px;
      display: flex;
      justify-content: space-between;

      @include responsive(648px) {
        width: 216px;
        flex-wrap: wrap;
      }

      // Filter items
      &_i {
        padding: 4px 10px;
        font-size: 18px;
        line-height: 24px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #7AC100;
        background: rgba(255, 255, 255, 0.64);
        border-radius: 8px;

        @include responsive(648px) {
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.1px;
          font-feature-settings: 'pnum' on, 'lnum' on;
          color: #7AC100;
        }

        &:last-child {
          @include responsive(648px) {
            margin-top: 8px;
          }
        }
      }
    }

    // Green card price
    &-price {
      margin-top: 83px;
      font-size: 40px;
      line-height: 44px;
      letter-spacing: -0.6px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: rgba(255, 255, 255, 0.8);

      @include responsive(648px) {
        display: inline-block;
        margin-top: 122px;
        padding: 4px 10px;
        background: rgba(255, 255, 255, 0.64);
        border-radius: 8px;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #7AC100;
      }
    }

    // Green card number of lessons
    &-numb-less {
      font-size: 18px;
      line-height: 24px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: rgba(255, 255, 255, 0.8);

      @include responsive(648px) {
        display: none;
      }
    }

    //  Green card image
    &-img {
      position: absolute;
      bottom: 0;
      right: 15px;
    }
  }
}