@import "fonts";
@import "vars";
@import "mixin";
@import "global";
@import "slick";
@import "header";
@import "firsrt-screen";
@import "popular";
@import "curse-card";
@import "custom_checkbox";
@import "custom-switch";
@import "custom-radiobutton";
@import "curses";
@import "card-slider";
@import "about";
@import "comments";
@import "all-filters-page";
@import "more";
@import "comments-page";
@import "course-page";
@import "footer";

.hide {
  display: none;
}

.hide_d{
  display: none;

  @include responsive(mobile) {
    display: inline-block;
  }
}

.hide_m {
  display: inline-block;
  @include responsive(mobile) {
    display: none;
  }
}

.show {
  transform: translateX(0);
  transition: all 0.2s ease-in-out;
}
